<!DOCTYPE html>
<html>
<head>
  <title>Echo Post</title>
</head>
<body>

<div id="columns">

	<div class="first column">
		<div id="table_column">
			<table class="table table-bordered" cellpadding = 10px>
				<tr>
					<td>hello</td>
					<td>world</td>
				</tr>
				<tr>
					<td>goodbye</td>
					<td>world</td>
				</tr>
			</table>
		</div>
	</div>
	<div class="second column">
		<form action="echo/echo" method="post">
			<fieldset>
				<legend>Enter Name</legend>
				<label>Name:</label>
				<i class="icon-star"></i><input id="name" name="name" size="30" type="text" placeholder="Type something...">
				<label class="checkbox">
					<input type="checkbox" name="nameCheckBox" value="Check"> Check me out
				</label>
				<input type="submit" class="btn btn-inverse" name="submit" value="Submit Name"/>
			</fieldset>
		</form>
	</div>

	<div class="third column">
		<form action="echo/echo" method="post">
			<fieldset>
				<legend>Enter Age</legend>
				<label>Age:</label>
				<i class="icon-calendar"></i><input id="age" name="age" size="10" type="text" placeholder="Type something...">
				<label class="checkbox">
					<input type="checkbox" name="ageCheckBox" value="Check"> Check me out
				</label>
				<input type="submit" class="btn" name="submit" value="Submit Age"/>
			</fieldset>
		</form>
	</div>
</div>

</body>
</html>