<p id="notice"><%= notice %></p>

<p>
  <b>Stat:</b>
  <%= @skid_row_statistic.stat %>
</p>


<%= link_to 'Edit', edit_skid_row_statistic_path(@skid_row_statistic) %> |
<%= link_to 'Back', skid_row_statistics_path %>
