<span class="label label-success">Note</span>
<div class="text"> <!-- Text/footer -->
  <p><small>This page contains content about four of my favorite musical artists, at least as of lately. They represent about 1/10,000,000th of my musical collection and this page only scratches the surface of representing my passion for the masterpieces they craft.</small><h4><strong>Page created by:</strong><small> Dylan Ethen</small></h4><br>&copy Dylan Ethen<br><small><em>Content about artists was mostly taken from Wikipedia</em></small></p>
</div> <!-- /text footer row -->