<p>
      <span class="badge badge-info">1</span> Music is my biggest passion 
      <span class="badge badge-info">2</span> It allows me to express myself in ways impossible with any other means 
      <span class="badge badge-info">3</span> Each song speaks to me and tells me its own story 
      <span class="badge badge-info">4</span> Music can bring peace and comfort to all 
      <span class="badge badge-info">6</span> It comes from the heart and is filled with soul 
      <span class="badge badge-info">5</span> Songs have power beyond measure and are often not appreciated 
      <span class="badge badge-info">7</span> I love a variety of music 
      <span class="badge badge-info">8</span> I'll listen to pretty much anything except country 
      <span class="badge badge-info">9</span> Getting lost in music is one of my favorite past times 
      <span class="badge badge-info">10</span> I have way too much music for my own good 
</p>