<div class="well well-large">
	<h3>
		<center>Homelessness in the Land of Opportunity
		<%= image_tag("skid_row_homeless.jpg", :class=>"img-rounded" ) %></center>
	</h3>
	<p>
		<%= @relevance.html_safe %>
	</p>
</div>
