<div class="text"> <!-- Text/footer -->
<span class="label label-success">Note</span>
  <strong>Page created by:</strong><small> Dylan Ethen, Miles Dunna, and Justin Wendel</small>
</div> <!-- /text footer row -->