<center><span class="badge badge-info"> -------------------------- Links ------------------------- </span></center>
<p>
      <br>
      <span class="badge badge-info">Film</span> <abbr title="Go to the documentary page"><%= link_to 'The Documentary', skid_row_documentary_path %></abbr><br>
      <span class="badge badge-info">About</span> <abbr title="Go to the main information page"><%= link_to 'The History', skid_row_about_path %></abbr><br>
      <span class="badge badge-info">Relevance</span> <abbr title="Learn more about the relevance Skid Row"><%= link_to 'The Big Picture', skid_row_relevance_path %></abbr><br>
</p>
<hr>
<center><span class="badge badge-info"> --------------------- Descriptions -------------------- </span><br></center>
<span class="badge badge-info">~</span> Violence
<span class="badge badge-info">~</span> Suicide <br>
<span class="badge badge-info">~</span> Drugs and alcohol
<span class="badge badge-info">~</span> Rats
<span class="badge badge-info">~</span> Living in dirt
<span class="badge badge-info">~</span> Heroin <br>
<span class="badge badge-info">~</span> Sleeping on cardboard <br>
<span class="badge badge-info">~</span> Gangs
<span class="badge badge-info">~</span> Sleeping in tents <br>
<span class="badge badge-info">~</span> Wasteland
<span class="badge badge-info">~</span> Relapse <br>
<span class="badge badge-info">~</span> Homelessness
<span class="badge badge-info">~</span> Felons <br>
<span class="badge badge-info">~</span> Crime
<span class="badge badge-info">~</span> Joblessness <br>
<span class="badge badge-info">~</span> Development
<span class="badge badge-info">~</span> Turmoil <br>
<span class="badge badge-info">~</span> Addiction
<span class="badge badge-info">~</span> Probation <br>
<span class="badge badge-info">~</span> Human Tragedy
<span class="badge badge-info">~</span> Death <br>
<span class="badge badge-info">~</span> Depression
<span class="badge badge-info">~</span> Disease <br>

